//variables

$color-background: #2b303a;
$color-primary: #b80c09;
$color-secondary: #a7b0ca;
$color-text: #ffffff;
$color-hover: #8edce6;

$color-danger: #ff4d4d;
$color-success: #4CAF50;
$color-warning: #ff9800;