@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$font-roboto: "Roboto",sans-serif;
$font-montserrat: "Montserrat",sans-serif;
$font-oswald: "Oswald",sans-serif;

$padding: 20px;